
table.t01 {
    background-color: rgb(204, 255, 255);
    border-collapse: collapse;
    empty-cells: show;
    margin-top: 10px;
    margin-left: 200px;
    float: left;

}

table.t01 td, th {
    padding: 3px;
    border: 1px solid darkblue;
    position: relative;
}
a.disabled{
    pointer-events: none;
}
.language { position: absolute; top: 150px; right: 5px; padding: 20px; }
.sort {position: absolute; top: 150px; right: 100px; padding: 20px;}